input {
    border: none;
    border-bottom: #262626 1px solid;
}
.tagInputs div:nth-child(2){
    margin-top: 1rem;
}
input:focus{
    outline: none;
}

.center{
    display: block;
    color: darkgoldenrod;
    border-color: darkgoldenrod;
    margin: 1rem auto;
}
.center:nth-child(2){
    color: tomato;
    border-color: tomato;
}