input {
    border: none;
    border-bottom: #262626 1px solid;
}
.tagInputs div:nth-child(2){
    margin-top: 1rem;
}
input:focus{
    outline: none;
}

.center{
    display: block;
    color: darkgoldenrod;
    border-color: darkgoldenrod;
    margin: 2rem 4rem;
}
.center:nth-child(2){
    color: green;
    border-color: green;
}
.center:nth-child(3){
    color: white;
    border-color: tomato;
    background-color: tomato;
}

.flex.centralize{
    justify-content: center;
}
